{% extends "appbuilder/base.html" %}

{% block content %}
<div class="well">
	<dl>
		<h2 class="code-line" data-line-start=0 data-line-end=1><a id="About_Us_0"></a>About Us</h2>
		<p class="has-line-data" data-line-start="2" data-line-end="3">Beijing VirtQE S1 team and forcusing on RHEL
			Performance Testing on Virtualization Platforms.</p>
		<h3 class="code-line" data-line-start=4 data-line-end=5><a id="Our_mission_4"></a>Our mission</h3>
		<p class="has-line-data" data-line-start="6" data-line-end="7">Make RHEL performance competitive.</p>
		<h3 class="code-line" data-line-start=8 data-line-end=9><a id="Contact_Information_8"></a>Contact Information
		</h3>
		<ul>
			<li class="has-line-data" data-line-start="10" data-line-end="11">IRC channel: #virt-pt
				@irc.devel.redhat.com</li>
			<li class="has-line-data" data-line-start="11" data-line-end="12">Mailing list: <a
					href="mailto:virt-perftest@redhat.com">virt-perftest@redhat.com</a></li>
			<li class="has-line-data" data-line-start="12" data-line-end="13">Confluence Page: <a
					href="https://docs.engineering.redhat.com/display/VIRTPT/Virt+PT+Home">https://docs.engineering.redhat.com/display/VIRTPT/Virt+PT+Home</a>
			</li>
			<li class="has-line-data" data-line-start="13" data-line-end="14">Project Lead: Charles Shih <a
					href="mailto:cheshi@redhat.com">cheshi@redhat.com</a></li>
			<li class="has-line-data" data-line-start="14" data-line-end="16">Manager: Tina Mao <a
					href="mailto:ymao@redhat.com">ymao@redhat.com</a> / Lei Wang <a
					href="mailto:leiwang@redhat.com">leiwang@redhat.com</a></li>
		</ul>
		<h3 class="code-line" data-line-start=16 data-line-end=17><a id="Product_Owners_16"></a>Product Owners</h3>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th style="text-align:left">Product</th>
					<th style="text-align:left">Function</th>
					<th style="text-align:left">Name</th>
					<th style="text-align:left">Email</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="text-align:left">ESXi</td>
					<td style="text-align:left">storage</td>
					<td style="text-align:left">Lily Du</td>
					<td style="text-align:left"><a href="mailto:ldu@redhat.com">ldu@redhat.com</a></td>
				</tr>
				<tr>
					<td style="text-align:left">ESXi</td>
					<td style="text-align:left">network</td>
					<td style="text-align:left">Bo Yang</td>
					<td style="text-align:left"><a href="mailto:boyang@redhat.com">boyang@redhat.com</a></td>
				</tr>
				<tr>
					<td style="text-align:left">Hyper-V</td>
					<td style="text-align:left">storage</td>
					<td style="text-align:left">Xuemin Li</td>
					<td style="text-align:left"><a href="mailto:xuli@redhat.com">xuli@redhat.com</a></td>
				</tr>
				<tr>
					<td style="text-align:left">Hyper-V</td>
					<td style="text-align:left">network</td>
					<td style="text-align:left">Bo Yang / Huijuan Zhao</td>
					<td style="text-align:left"><a href="mailto:boyang@redhat.com">boyang@redhat.com</a> / <a
							href="mailto:huzhao@redhat.com">huzhao@redhat.com</a></td>
				</tr>
				<tr>
					<td style="text-align:left">AWS</td>
					<td style="text-align:left">storage</td>
					<td style="text-align:left">Charles Shih</td>
					<td style="text-align:left"><a href="mailto:cheshi@redhat.com">cheshi@redhat.com</a></td>
				</tr>
				<tr>
					<td style="text-align:left">AWS</td>
					<td style="text-align:left">network</td>
					<td style="text-align:left">Frank Liang / Charles Shih</td>
					<td style="text-align:left"><a href="mailto:xiliang@redhat.com">xiliang@redhat.com</a> / <a
							href="mailto:cheshi@redhat.com">cheshi@redhat.com</a></td>
				</tr>
				<tr>
					<td style="text-align:left">Azure</td>
					<td style="text-align:left">storage</td>
					<td style="text-align:left">Yuxin Sun</td>
					<td style="text-align:left"><a href="mailto:yuxisun@redhat.com">yuxisun@redhat.com</a></td>
				</tr>
				<tr>
					<td style="text-align:left">Azure</td>
					<td style="text-align:left">network</td>
					<td style="text-align:left">Huijuan Zhao</td>
					<td style="text-align:left"><a href="mailto:huzhao@redhat.com">huzhao@redhat.com</a></td>
				</tr>
				<tr>
					<td style="text-align:left">Aliyun</td>
					<td style="text-align:left">storage</td>
					<td style="text-align:left">Charles Shih</td>
					<td style="text-align:left"><a href="mailto:cheshi@redhat.com">cheshi@redhat.com</a></td>
				</tr>
				<tr>
					<td style="text-align:left">Aliyun</td>
					<td style="text-align:left">network</td>
					<td style="text-align:left">Charles Shih</td>
					<td style="text-align:left"><a href="mailto:cheshi@redhat.com">cheshi@redhat.com</a></td>
				</tr>
			</tbody>
		</table>
		<h2 class="code-line" data-line-start=32 data-line-end=33><a id="About_this_site_32"></a>About this site</h2>
		<p class="has-line-data" data-line-start="34" data-line-end="35">This site is a part of Perf-insight which is
			used to collect, display, query, and analyze performance results. We hope that historical records can better
			guide our testing and share testing status more friendly.</p>
		<h3 class="code-line" data-line-start=36 data-line-end=37><a id="Perfinsight_and_Perfagent_36"></a>Perf-insight
			and Perf-agent</h3>
		<p class="has-line-data" data-line-start="38" data-line-end="39">Perf-insight (as known as the reporting system
			for performance testing) is a data visualization based on enhanced pbench data model and fully compatible
			with pbench test results. So that the raw data, test logs, KPI reports, and even ideas and insights can be
			easily shared with other stakeholders.</p>
		<p class="has-line-data" data-line-start="40" data-line-end="41">Source code: <a
				href="https://github.com/virt-s1/perf-insight">https://github.com/virt-s1/perf-insight</a></p>
		<p class="has-line-data" data-line-start="42" data-line-end="43">Perf-agent is a toolkit helps set up the pbench
			test environment on various platforms, conduct pbench tests and collect test logs. It provides input data
			used by Perf-insight.</p>
		<p class="has-line-data" data-line-start="44" data-line-end="45">Source code: <a
				href="https://github.com/virt-s1/perf-agent">https://github.com/virt-s1/perf-agent</a></p>
	</dl>
</div>
{% endblock %}