{% import 'appbuilder/general/lib.html' as lib %}

{% set begin_sep_label = '<td class="col-lg-2">' %}
{% set end_sep_label = '</td>' %}
{% set begin_sep_field = '<td>' %}
{% set end_sep_field = '</td>' %}


{% if form_action is defined %}
<form action="{{form_action}}" method="post" enctype="multipart/form-data">
    {% else %}
    <form id="model_form" action="" method="post" enctype="multipart/form-data">
        {% endif %}
        {{form.hidden_tag()}}

        {% if fieldsets %}
        {% for fieldset_item in fieldsets %}
        {% if fieldset_item[1].get('expanded') == None %}
        {% set expanded = True %}
        {% else %}
        {% set expanded = fieldset_item[1].get('expanded') %}
        {% endif %}
        {% call lib.accordion_tag(loop.index,fieldset_item[0], expanded) %}
        <div class="table-responsive">
            <table class="table table-responsive table-bordered">
                {% for item in fieldset_item[1].get('fields') %}
                {% if item not in exclude_cols %}
                <tr>
                    {{ lib.render_field(form[item], begin_sep_label, end_sep_label, begin_sep_field, end_sep_field) }}
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        {% endcall %}
        {% endfor %}
        {% else %}
        <div class="table-responsive">
            <table class="table table-bordered">
                {% for col in include_cols %}
                {% set field = form[col] %}
                {% if field.name not in exclude_cols %}
                <tr>
                    {{ lib.render_field(field, begin_sep_label, end_sep_label, begin_sep_field, end_sep_field) }}
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        {% endif %}
        {% macro lnk_back() %}
        <a href="{{url_for('UtilView' + '.back')}}" class="btn btn-sm btn-default" data-toggle="tooltip" rel="tooltip"
            title="{{_('Back')}}">
            <i class="fa fa-arrow-left"></i>
        </a>
        {% endmacro %}
        {% macro render_form_controls() %}
        <div class="well well-sm">
            <button id="submit" type="submit" class="btn  btn-sm btn-primary">{{_("Save")}}
                <i class="fa fa-check"></i></button>
            {{ lnk_back() }}
        </div>
        {% endmacro %}
        {{ render_form_controls() }}
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0"
                aria-valuemin="0" aria-valuemax="100" style="width: 100%"><span class="progress-bar-label">100s</span>
            </div>
        </div>
    </form>
    <script>
        document.getElementById("submit").onclick = function () { handleClick() };
        function handleClick() {
            var evtSource = new EventSource("/progress");
            evtSource.onerror = (e) => {
                console.log("An error occurred while attempting to connect.");
                setTimeout(handleClick, 1000);
                var evtSource = new EventSource("/progress");
            };
            evtSource.onmessage = function (event) {
                $('.progress-bar').css('width', event.data + '%').attr('aria-valuenow', event.data);
                $('.progress-bar-label').text(event.data + 's');

                if (event.data == 0) {
                    evtSource.close()
                }
            }
        }
    </script>